.logo_position {
    display: flex;
    flex-direction: column;       /* active flex */
    justify-content: center;     /* centre horizontalement */
    align-items: center;
    height: auto;                /* adapte la hauteur au contenu */
    margin: 0;                   /* supprime les marges par défaut */
    padding: 0;
    position: relative;
}

/* réduit la taille du logo (image) */
.logo_position img {
    width: 10%;    /* ajuster pour rendre le logo plus petit/plus grand */
    max-width: 100%;
    height: auto;
    display: block;
}

.form_position {
    height: 40vh;
    width: 30vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 0.5px solid #378959;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* effet d'ombre au survol */
}
h2 {
    text-align: center;
    color: #378959;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

h3 {
    text-align: center;
    color: #378959;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 150;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #e8f6eb; /* Couleur de fond pour le reste de la page */
}

.id {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}   

.mdp {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

/* Bouton de connexion */

.button {
    background-color: #378959;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.creation-compte h3 {
    text-align: center;
    color: #378959;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 150;
}

.input-group {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #378959;
}

a:hover {
     color: #38c06c; /* couleur au survol */
}