.logo_position {
    display: flex;
    flex-direction: column;       /* active flex */
    justify-content: center;     /* centre horizontalement */
    align-items: center;
    height: auto;                /* adapte la hauteur au contenu */
    margin: 0;                   /* supprime les marges par défaut */
    padding: 0;
}

/* réduit la taille du logo (image) */
.logo_position img {
    width: 10%;    /* ajuster pour rendre le logo plus petit/plus grand */
    max-width: 100%;
    height: auto;
    display: block;
}

.form_position {
    height: 25vh;
    width: 25vw;
    background-color: #03973eff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

h2,
h3 {
    text-align: center;
    color: green;
    margin: 0;
}