:root {
  --couleurVerte: #28a745;
  --couleurVerteFonce: #1f7e36;
  --couleurRouge:#dc3545;
  --texteGris: #6d7c82;
  --titreNoir: #222;
  --fondClair: #ffffff;
  --ombre: rgba(0,0,0,0.10);
  --ombreHover: rgba(0,0,0,0.18);
}


.footer {
    background: var(--titreNoir);
    color: var(--fondClair);
    padding: 50px 20px 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 40px;
    max-width: 1200px;
    margin: auto;
}

.footer-logo {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--couleurVerte);
}

.footer-col h4 {
    margin-bottom: 12px;
    font-size: 1.1rem;
    color: var(--fondClair);
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin: 8px 0;
}

.footer-col ul li a {
    color: var(--texteGris);
    text-decoration: none;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: var(--couleurVerte);
}

.socials a {
    margin-right: 12px;
    color: var(--fondClair);
    font-size: 1.2rem;
    transition: 0.3s;
}

.socials a:hover {
    color: var(--couleurVerte);
}

.footer-bottom {
    border-top: 1px solid rgba(255,255,255,0.2);
    margin-top: 40px;
    padding-top: 15px;
    text-align: center;
    color: var(--texteGris);
    font-size: 0.9rem;
}