/* Reset basique */

:root {
  --couleurVerte: #28a745;
  --couleurVerteFonce: #1f7e36;
  --couleurRouge:#dc3545;
  --texteGris: #6d7c82;
  --titreNoir: #222;
  --fondClair: #ffffff;
  --ombre: rgba(0,0,0,0.10);
  --ombreHover: rgba(0,0,0,0.18);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    padding: 15px 40px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f1f1f1;
    font-family: Arial, sans-serif;
}

.nav {
    display: flex;
    gap: 25px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.nav a:hover {
    color: #28a745; /* vert au survol */
}

/* Zone Connexion / Inscription */
.auth {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 25px;
}

.auth .connexion, .auth .deconnexion,
.auth .inscription {
    text-decoration: none;
    padding: 8px 16px;
    font-size: 15px;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.3s;
}

/* Connexion (bouton simple vert) */
.auth .connexion {
    color: #28a745;
    border: 1px solid #28a745;
}

.auth .connexion:hover {
    background-color: #28a745;
    color: white;
}

/* Deconnexion */
.auth .deconnexion {
    color: #dc3545;
    border: 1px solid #dc3545;
}

.auth .deconnexion:hover {
    background-color: #dc3545;
    color: white;
}

/* Inscription (bouton vert rempli) */
.auth .inscription {
    background-color: #28a745;
    color: white;
    border: 1px solid #28a745;
}

.auth .inscription:hover {
    background-color: #1f7e36;
}

/* Logo */
.logo img {
    height: 45px;
    width: 100px;
    object-fit: contain;
}